In [ ]:
import pandas as pd
titanic_data={
    "passangerId":[1,2,3,4,5],
    "name":["john smith","jane doe","william brown","emily davis","micheal johnson"],
    'Age':[22,38,26,35,27],
    "sex":["male","female","male","female","male"],
    "pclass":[1,2,3,4,5],"survived":[0,1,1,0,0],
    "fare":[7.25,71.2833,7.925,53.1,8.05]
}
df=pd.DataFrame(titanic_data)
print(df.head())

   passangerId             name  Age     sex  pclass  survived     fare
0            1       john smith   22    male       1         0   7.2500
1            2         jane doe   38  female       2         1  71.2833
2            3    william brown   26    male       3         1   7.9250
3            4      emily davis   35  female       4         0  53.1000
4            5  micheal johnson   27    male       5         0   8.0500

In [4]:
import pandas as pd
#display unique values before encoding
print(df['sex'].unique())

['male' 'female']

In [5]:
df['sex']=df['sex'].map({'male':0,'female':1})
print(df['sex'])

0    0
1    1
2    0
3    1
4    0
Name: sex, dtype: int64

In [10]:
df_encode = pd.get_dummies(df, columns=['pclass'])
print(df_encode.head())

   passangerId             name  Age  sex  survived     fare  pclass_1  \
0            1       john smith   22    0         0   7.2500      True
1            2         jane doe   38    1         1  71.2833     False
2            3    william brown   26    0         1   7.9250     False
3            4      emily davis   35    1         0  53.1000     False
4            5  micheal johnson   27    0         0   8.0500     False

   pclass_2  pclass_3  pclass_4  pclass_5
0     False     False     False     False
1      True     False     False     False
2     False      True     False     False
3     False     False      True     False
4     False     False     False      True

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data=pd.DataFrame({'Profit':[200,300,400,1000]})
scaler=MinMaxScaler()
data['Profit_Normalized']=scaler.fit_transform(data[['Profit']])
print(data)

   Profit  Profit_Normalized
0     200              0.000
1     300              0.125
2     400              0.250
3    1000              1.000

In [14]:
import numpy as np
data = pd.DataFrame({'sales':[10,50,100,150,200]})
data['sales_log']= np.log(data['sales'])
print(data)

   sales  sales_log
0     10   2.302585
1     50   3.912023
2    100   4.605170
3    150   5.010635
4    200   5.298317